@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP:500&display=swap&subset=japanese');

html{
	position: relative;
	min-height: 100%;
}

#top{
    padding: 0;
    margin: 0;
	background-color: black;
	
}

#sub{
	padding: 0;
    margin: 0;
    background-color: #FFFCDB;
	padding-bottom: 80px;
	box-sizing: border-box;
}

#wrapper{
    font-family: 'Noto Serif JP', serif;
}

/*--背景切り替え--*/

.sample li {
	z-index: -10;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    -webkit-animation: anime 40s linear 0s infinite ;
    animation: anime 40s linear 0s infinite ;
}
.sample li:nth-child(1) { 
    background-image: url("images/backimg.jpg");
}
.sample li:nth-child(2) {
    background-image: url("images/backimg2.jpg");
    -webkit-animation-delay: 10s;
    animation-delay: 10s;
}
.sample li:nth-child(3) {
    background-image: url("images/backimg3.jpg");
    -webkit-animation-delay: 20s;
    animation-delay: 20s;
}
.sample li:nth-child(4) {
    background-image: url("images/backimg4.jpg");
    -webkit-animation-delay: 30s;
    animation-delay: 30s;
}
@-webkit-keyframes anime { 
    0% {
        -webkit-animation-timing-function: ease-in;
        opacity: 0;
    }
    10% {
        -webkit-transform: scale(1.0);
        opacity: 1;
    }
    40% {
        -webkit-transform: scale(1.0);
            -webkit-animation-timing-function: ease-out;
        opacity: 1;
    }
    50% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
    100% { opacity: 0 }
}
@keyframes anime { 
    0% {
        animation-timing-function: ease-in;
        opacity: 0;
    }
    10% {
        transform: scale(1.0);
        opacity: 1;
    }
    40% {
        transform: scale(1.0);
            animation-timing-function: ease-out;
        opacity: 1;
    }
    50% {
        transform: scale(1.0);
        opacity: 0;
    }
    100% { opacity: 0 }
}

/*--ヘッダー--*/

#header{
	position: relative;
	top: 0;
	width: 100%;
}

#header h1{
    z-index: 30;
    position: absolute;
    font-size: 4.6vw;
    margin-left: 39%;
    margin-top: 7%;
}

#header span{
    z-index: 30;
    position: absolute;
    font-size: 3.1vw;
    margin-left: 37%;
    margin-top: 14%;
}

#rogo img{
    z-index: 20;
    position: absolute;
    width: 32%;
    margin-left: 3%;
}

#headerback img{
    z-index: 10;
	position: relative;
    width: 100%;
    opacity: 0.4;
    top: 0px;
}

#adjustment{
	position: fixed;
	top: 0;
	width: 100%;
}

/*--ハンバーガーメニュー--*/

.menu-item,
.menu-open-button {
   background: #EEEEEE;
   border-radius: 100%;
   width: 70px;
   height: 70px;
   margin-left: -40px;
   position: absolute;
   color: #FFFFFF;
   text-align: center;
   line-height: 80px;
   -webkit-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
   -webkit-transition: -webkit-transform ease-out 200ms;
   transition: -webkit-transform ease-out 200ms;
   transition: transform ease-out 200ms;
   transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

.menu-open {
   display: none;
}

.lines {
    width: 20px;
    height: 3px;
    background: #596778;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -10px;
    margin-top: -1.5px;
    -webkit-transition: -webkit-transform 200ms;
    transition: -webkit-transform 200ms;
    transition: transform 200ms;
    transition: transform 200ms, -webkit-transform 200ms;
}

.line-1 {
   -webkit-transform: translate3d(0, -8px, 0);
   transform: translate3d(0, -8px, 0);
}

.line-2 {
   -webkit-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
}

.line-3 {
   -webkit-transform: translate3d(0, 8px, 0);
   transform: translate3d(0, 8px, 0);
}

.menu-open:checked + .menu-open-button .line-1 {
   -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
   transform: translate3d(0, 0, 0) rotate(45deg);
}

.menu-open:checked + .menu-open-button .line-2 {
   -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
   transform: translate3d(0, 0, 0) scale(0.1, 1);
}

.menu-open:checked + .menu-open-button .line-3 {
   -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
   transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu {
    margin: 0 auto;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80px;
    height: 80px;
    text-align: center;
    box-sizing: border-box;
    top: 10px;
}

/* .menu-item {
   transition: all 0.1s ease 0s;
} */

.menu-item:nth-child(3) {
   -webkit-transition-duration: 180ms;
   transition-duration: 180ms;
}

.menu-item:nth-child(4) {
   -webkit-transition-duration: 180ms;
   transition-duration: 180ms;
}

.menu-item:nth-child(5) {
   -webkit-transition-duration: 180ms;
   transition-duration: 180ms;
}

.menu-item:nth-child(6) {
   -webkit-transition-duration: 180ms;
   transition-duration: 180ms;
}

.menu-item:nth-child(7) {
   -webkit-transition-duration: 180ms;
   transition-duration: 180ms;
}

.menu-open-button {
   z-index: 5;
   -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
   transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
   -webkit-transition-duration: 400ms;
   transition-duration: 400ms;
   -webkit-transform: scale(1.0, 1.0) translate3d(0, 0, 0);
   transform: scale(1.0, 1.0) translate3d(0, 0, 0);
   cursor: pointer;
   box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
}

.menu-open-button:hover {
   -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
   transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked + .menu-open-button {
   -webkit-transition-timing-function: linear;
   transition-timing-function: linear;
   -webkit-transition-duration: 200ms;
   transition-duration: 200ms;
   -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
   transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
   -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
   transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}

.menu-open:checked ~ .menu-item:nth-child(3) {
   transition-duration: 180ms;
   -webkit-transition-duration: 180ms;
   -webkit-transform: translate3d(-100px, 8px, 0);
   transform: translate3d(-100px, 8px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(4) {
   transition-duration: 280ms;
   -webkit-transition-duration: 280ms;
   -webkit-transform: translate3d(0px, 0px, 0);
   transform: translate3d(-44px, 73px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(5) {
   transition-duration: 380ms;
   -webkit-transition-duration: 380ms;
   -webkit-transform: translate3d(90.9466px, 52.47586px, 0);
   transform: translate3d(44px, 73px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(6) {
   transition-duration: 480ms;
   -webkit-transition-duration: 480ms;
   -webkit-transform: translate3d(100px, 8px, 0);
   transform: translate3d(100px, 8px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(7) {
    transition-duration: 580ms;
    -webkit-transition-duration: 580ms;
    -webkit-transform: translate3d(-90.86291px, 52.62064px, 0);
    transform: translate3d(90.86291px, 52.62064px, 0);
}

.top1 {
	background-image: url("images/top1.png");
	background-size: cover;
	opacity: 1.0;
	box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
}

.top1:hover {
    background-image: url("images/top1.png");
    background-size: cover;
    opacity: 0.5;
    box-shadow: none;
}

.top2 {
	background-image: url("images/top2.png");
	background-size: cover;
	opacity: 1.0;
	box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
}

.top2:hover {
    background-image: url("images/top2.png");
    background-size: cover;
    opacity: 0.5;
    box-shadow: none;
}

.top3 {
	background-image: url("images/top3.png");
	background-size: cover;
	opacity: 1.0;
	box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
}

.top3:hover {
    background-image: url("images/top3.png");
    background-size: cover;
    opacity: 0.5;
    box-shadow: none;
}

.top4 {
	background-image: url("images/top4.png");
	background-size: cover;
	opacity: 1.0;
	box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
}

.top4:hover {
    background-image: url("images/top4.png");
    background-size: cover;
    opacity: 0.5;
    box-shadow: none;
}

.all {
	background-image: url("images/menu1.png");
	background-size: cover;
	opacity: 1.0;
	box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
}

.all:hover {
    background-image: url("images/menu1.png");
    background-size: cover;
    opacity: 0.5;
    box-shadow: none;
}

.soup {
	background-image: url("images/menu2.png");
	background-size: cover;
	opacity: 1.0;
	box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
}

.soup:hover {
    background-image: url("images/menu2.png");
    background-size: cover;
    opacity: 0.5;
    box-shadow: none;
}

.area {
	background-image: url("images/menu3.png");
	background-size: cover;
	opacity: 1.0;
	box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
}

.area:hover {
    background-image: url("images/menu3.png");
    background-size: cover;
    opacity: 0.5;
    box-shadow: none;
}

.price {
	background-image: url("images/menu4.png");
	background-size: cover;
	opacity: 1.0;
	box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
}

.price:hover {
    background-image: url("images/menu4.png");
    background-size: cover;
    opacity: 0.5;
    box-shadow: none;
}

/*--ラーメン屋--*/

.noren{
    position: relative;
    margin-top: 25%;
    z-index: -5;
}

.noren h2{
    position: absolute;
	font-size: 6.0vw;
    top: 50%;
    left: 50%;
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	margin:0;
	padding:0;
	font-weight: bold;
}

.noren img{
    width: 100%;
}

.souplanding{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
	width: 80%;
	margin: 10% auto;
}

.souplanding img{
	width: 100%;
	border-radius: 5px;
}

.pricelanding{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
	width: 80%;
	margin: 10% auto;
}

.pricelanding img{
	width: 100%;
	border-radius: 5px;
}

.arealanding{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-column-gap: 10px;
	width: 80%;
	margin: 10% auto;
}

.arealanding img{
	width: 100%;
	border-radius: 5px;
}

.arealanding2{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-column-gap: 10px;
	width: 80%;
	margin: -9% auto;
}

.arealanding2 img{
	width: 100%;
	border-radius: 5px;
}

.ramenshop h1{
    text-align: center;
    font-size: 10vw;
}

.ramenshop img{
    width: 80%;
    margin-left: 10%;
    margin-top: 25%;
}

table{
    width: 80%;
    margin-left: 10%;
	border-collapse: separate;
	border-spacing: 0px;
}

td,th{
	font-size: 3.5vw;
	vertical-align: top;
	text-align: left;
}

.map{
    text-align: center;
    margin-top: 10%;	
}

#appare{
    width: 110%;
}

/* ページトップボタン */

#page_top{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  bottom: -80px;
  background: #E60012;
  opacity: 0.6;
  border-radius: 50%;
}
#page_top a{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f106';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -5px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

/* フッター */

footer{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 80px;
	text-align: center;
}

footer img{
    height: 60px;
	float: left;
}

#footer1{
	color: white;
	font-size: 12px;
	margin-top: 15px;
}

#footer2{
	color: black;
	font-size: 12px;
	margin-top: 15px;
}

#box{
	display: inline-block;
	width: 320px;
	margin-top: 10px;
}